html
  head
    link(href='/css/main.css', rel='stylesheet')
  body
    a(href='/' id='logo'): img(src='/assets/ui/logo.svg' width="100" height="auto" alt="Logo")
    ul(id='nav_bar')
        li: a(href="/") Home
        li: a(href="/about") About
        li: a(href="/contact") Contact
    h1 #{title}
    p Welcome to ArtOfRao